/* Background Image and default */
*{
    margin: 0%;
    padding: 0%;
}
#form{
background: url(images/brf.jpg) no-repeat center center/cover;
width: 100%;
height: 800px;
z-index: -1;
}

/* Nav bar  */

.nav{
    display: flex;
    gap:500px;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    font-size: medium;
}

.nav ul li a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
}

.nav::before{
    content: "";
    border : 2px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 199, 122);
    opacity: 0.52;
    z-index: -1;
}

#icon{
    height: 35px;
    padding: 10px 30px 10px 30px;
}

.nav ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 24px;
}

#contact::after{
    content: "";
}

/* Form styling */
#content{
    background-color: blue;
    border: 2px solid rgb(3, 129, 41);
    display: flex ;
    font-size: 1.2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
}

input{
    width: 70%;
}

select{
    width: 95px;
}

.longcont{
    display: flex;
    flex-flow: column;
    border: 2px solid white;
    width: 300px;
}