/* Background Image and default */
*{
    margin: 0%;
    padding: 0%;
}

#bg{
background: url(images/brf.jpg) no-repeat center center/cover;
width: 100%;
height: 800px;
z-index: -1;
display: flex;
align-items: center;
justify-content: center;
}

/* Nav bar  */

.nav{
    display: flex;
    gap:500px;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    font-size: medium;
}

.nav ul li a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
}

.nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 199, 122);
    opacity: 0.52;
    z-index: -1;
}

#icon{
    height: 35px;
    padding: 10px 25px 10px 25px;
}

.nav ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 24px;
}

#contact::after{
    content: "";
}

#menu{
    height: 25px;
}

/* Form styling */
#form{
    background-color: rgba(109, 145, 192, 0.7);
    box-shadow: -10px 10px 15px rgba(67, 136, 226, 0.7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: flex ;
    font-size: 1.2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
}

#heading{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 5px 25px 5px;
    font-size: 1.5rem;
}

.inputType{
    width: 500px;
    padding: 5px 2px;
    border-radius: 5px;
}

#inputs{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

#btns{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
#btns input{
    padding: 3px 20px;
    border-radius: 8px;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 520px;
}

#right a{
    text-decoration: none;
    color: white;
}

/* ABOUT US */
.profile{
    height : 200px;
    border-radius: 55%;
}

#desc4,#desc3,#desc2,#desc1{
    background-color: rgb(165, 133, 91);
    /* padding: 50px; */
}

table{
    display: block;
    margin: auto;
    border-spacing:20px ;
    padding-top: 20px;
    width: 70%;
}

table tr td{
    font-size: x-large;
}
