*{
    margin: auto;
    padding: 0%;
}
.maincont{
    border: 2px solid purple;
    display: flex;
    flex-flow: column wrap;
}

.boxes{
    width: 100%;
    margin: 0%;
}

.header{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: sticky;
}
#left{
    border: 2px solid green;
    margin: 0%;
}
#right{
    margin: 0%;
    border: 2px solid blue;
}

.nav{
    margin: 0%;
    border: 2px solid purple;
    flex-basis: 885px;
}

.ul{
    display: flex;
    list-style: none;
    border: 2px solid brown;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-flow: row wrap;

}

.nav ul a{
    flex-flow: row wrap;
    text-decoration: none;
    color: white;
    padding: 10px 20px 5px 20px;
}

#applelogo{
    width: 50px;
}

#limg1{width: 50px;}
#limg2{width: 50px;}

.nav ul li a:hover{
    color: aliceblue;
}

.hi:hover{
    filter: invert(100%);
}

.subhead{
    width: 100%;
    background-color: rgb(212, 207, 207);
    padding: 6px;
    text-align: center;
}

.big12{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    font-size: 20px;
    padding-top: 50px;
    flex-basis: 500px;
}

#b3i{
    width: 700px;
    height: 400px;
}

.b{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(45, 121, 209);
    font-weight: 500000;
    font-size: 26px;
}

.gap{
    padding-top: 25px;
}

.b:hover{
    text-decoration: underline;
}

.big12:hover{
    cursor: pointer;
}

.b4{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column wrap;
    font-size: 26px;
    cursor: pointer;
}
#b4i{
    width: 650px;
}

.white{
    background-color: white;
    height: 20px;
}

.cross{
    background-color: white;
}

.b4 h4,.b4 h1{
    color: black;
}