/* Common  */

.btn{
    padding: 10px 12px;
    border-radius: 11px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

h2{
    background-color: black;
    text-align: center;
    color: white;
}

*{
    margin: 0%;
    padding: 0%;
}
/* Head */
.head{
    height: 28px;
    background-color: black;
    padding: 8px 15px 2px 9px;
}

#date{
    padding: 2px 5px 2px 5px;
    background-color: white;
    color: black;
    float: left;
    border-radius: 5px;
}
#time{
    padding: 2px 5px 2px 5px;
    background-color: white;
    color: black;
    float: right;
    border-radius: 5px;
}

/* Navigation */
#nav{
    background-color: #faebd7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 14px 2px 4px;
}

#menuBtn{
    visibility: hidden;
    height: 24px;
}

#menuBtn>img{
    visibility: hidden;
    height: 20px;
}


#nav>#middle{
    flex: 2;
}

ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    list-style: none;
}

ul li a{
    display: flex;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    font-size: 1.3rem;
    color: black;
}

ul li a:hover{
    border-radius: 10px;
    background-color: black;
    color: white;
}
ul li a :active{
    border-radius: 10px;
    background-color: rgba(75, 3, 3, 0.534);
    color: black;
}

#icon{
    width: 46px;
    height: 60px;
    transform: rotate(-90deg);
}

#menuList{
    display: none;
}

#contactSub{
    display: none;
}

#contact:hover > #contactSub{
    display: block;
    position: absolute;
}

#contactSub li a{
    font-size: 1.2rem;
    opacity: 0;
}
#contactSub li a:hover{
    background-color: whitesmoke;
    color: black;
}

#con1{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 0ms 1 forwards normal;
}
#con2{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 270ms 1 forwards normal;
}
#con3{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 520ms 1 forwards normal;
}
#con4{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 770ms 1 forwards normal;
}

.contactSubIcon{
    width: 20px;
    height: 20px;
}

#serviceSub{
    display: none;
    position: absolute;
    font-size: 1.2rem;
}

#serviceSub li a{
    opacity: 0;
}

#service:hover > #serviceSub{
    display: block;
    color: black;
}

#s1{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 0ms 1 forwards normal;
}
#s2{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 270ms 1 forwards normal;
}
#s3{
    background-color: rgb(238, 181, 198);
    animation: roll 250ms ease-in-out 520ms 1 forwards normal;
}

@keyframes roll {
    0%{
        display: block;
        opacity: 0;
        transform: rotateX(90deg);
    }
    50%{
        opacity: 0.5;
        transform: rotateX(20deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}

#serviceSub li a:hover{
    background-color: whitesmoke;
    color: black;
}


/* Sliding Images */
#sec1{
    background-color:rgb(199, 162, 162);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carSlide{
    height: 100%;
    width: 100%; 
    border-radius: 18px;
}

#images{
    padding: 15px 5px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 850px;
    height: 550px;
}

#indicate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 2;
    margin-top: -30px;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(197, 150, 150);
}

#slideAside{
    border: 2px groove black;
    border-radius: 18px;
    color: black;
    text-align: center;
    font-size: 1.8rem;
    width: 400px;
    padding: 15px 20px 15px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#specs{
    font-size: 1.8rem;
}

.details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    gap: 5px;
}

#carNameSpecs{
    font-size: 2.2rem;
    font-style: italic;
}

.slidebtn{
    display: flex;
    justify-content: space-between;
    width: 850px;
    z-index: 0;
}

.imgChange{
    font-size: 1.5rem;
    color: black;
    background-color: white;
    z-index: 4;
    margin-bottom: -50px;
    display: none;
}

/* Cars */
.sec2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 2px 10px 2px;
}

.toyota,.honda,.bmw,.audi{
    width: 28%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    cursor: pointer;
    background-color: rgb(245, 242, 239);
}


.listChange{
    height: 40px;
    background-color: white;
    color: green;
    font-size: 1.6rem;
    padding: 5px 10px;
    font-weight: 1200;
}

.honda > img,.audi > img,.bmw > img,.toyota > img{
    width: 265px;
    height: 120px;
}

/* Footer */
#foot{
    display: flex;
    justify-content: space-between;
    padding: 5px 8px 5px 8px;
    align-items: center;
    flex-flow: row wrap;
    background-color: bisque;
}