*{
    margin: 0%;
    padding: 0%;
}
/* Head */
.head{
    height: 28px;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* Navigation */
#nav{
    background-color: #faebd7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 14px 2px 4px;
}

#menuIcon{
    height: 45px;
}

#nav>#middle{
    flex: 2;
}

ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    list-style: none;
}

 ul li a{
    display: flex;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    font-size: 1.3rem;
    color: black;
}

 ul li a:hover{
    border-radius: 10px;
    background-color: black;
    color: white;
}

#icon{
    width: 46px;
    height: 60px;
    transform: rotate(-90deg);
}

/* Sliding Images */
#sec1{
    background-color:rgb(199, 162, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carSlide{
    height: 100%;
    width: 100%; 
    border-radius: 18px;
}

#images{
    padding: 15px 5px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 850px;
    height: 550px;
}

#indicate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    gap: 5px;
    z-index: 2;
    top: 624px;
    left: 440px;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(197, 150, 150);
}

#slideAside{
    margin-right: 70px;
    border: 2px groove black;
    border-radius: 18px;
    color: black;
    text-align: center;
    font-size: 1.8rem;
    width: 400px;
    padding: 15px 20px 15px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#specs{
    font-size: 1.8rem;
}

.details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

#carNameSpecs{
    font-size: 2.2rem;
    font-style: italic;
}

/* Common  */

.btn{
    padding: 10px 12px;
    border-radius: 11px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
